:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

body {
  margin: 0;
  padding: 10px;
  min-height: 100vh;
  background-color: var(--color-light-gray);
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure {
  width: 260px;
  background-color: var(--color-white);
  padding: 15px;
  border-radius: 15px;
}

figure img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

figcaption h1 {
  color: var(--color-dark-blue);
  font-size: 20px;
  text-align: center;
}

p {
  font-size: 15px;
  color: var(--color-grayish-blue);
  text-align: center;
}

a {
  color: var(--color-grayish-blue);
  transition: color .3s ease;
}

a:hover {
  color: var(--color-dark-blue);
}
